@using PersonApplicationDll.Entities
@model List<PersonStatus>
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Person/Create">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" placeholder="Type name" name="name" />
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status.id">
            @foreach(var status in Model)
            {
                <option value="@status.Id">@status.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-default">Save User</button>
</form>
<hr />
<a href="/Person/Index" class="btn btn-default">Go Back</a>