
@using PersonApplicationDll.Entities
@model List<Person> 
@{
    ViewBag.Title = "The View";
}
<h2>Index</h2>

<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var person in Model)
    {
        <tr>
            <td>@person.Id</td> 
            <td>@person.Name</td>
            <td>@if (@person.Status != null)
            {@person.Status.Name}
            else { <strong>unknown</strong> }</td>
            <td><a class="btn btn-warning" href="/Person/Edit/@person.Id">Edit</a></td>
            <td><a class="btn btn-danger" href="/Person/Delete/@person.Id">Delete</a></td>
        </tr>

    }
    </tbody>
</table>
<hr />

<a href="/Person/Create" class="btn btn-success">Add</a>